:root {
    --primary-color:#78708D;
    --secondary-color:#55457c;
    --text-color: #FFF2C3;

    --text-hover:#fd9d5c;
    --title-font-family: 'Ultra', serif; 
    --text-font-family:'Fredoka', sans-serif;
}
/* Variables CSS */

body {
    background-color: black;
}
/* background general */


.presentation{
    position: relative;
    width: 80vw;
    height: 160vh;
    margin-left: 10vw;
    }
/* contain mosaique */

.mosaique .box1{
    position: relative;
    width: 20vw;
    height: 60vh;
    margin-left: 0vw;
    transition: 0.5s;
}
/* contain mosaique box1 */

.mosaique .box1 img {
    height: 60vh;
    width: 20vw;
    object-fit: cover;
}
/* contain mosaique img */

.mosaique div a h3 {
    opacity:0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    font-size: 2rem;
    font-family: var(--title-font-family);
    font-weight: lighter;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
}
/* title mosaique */

.mosaique div img:hover {
transition: ease-out;
transition: 0.5s;
filter: blur(0.2px) brightness(0.5);
}
/* hover sur la mosaique  */

.mosaique .box2{
    position: relative;
    width: 20vw;
    height: 98vh;
    margin-top: 2vh;
}

.box2 img {
    width: 20vw;
    height: 98vh;
    object-fit: cover;
}

.box3{
    position: relative;
    width: 20vw;
    height: 120vh;
    margin-left: 21vw;
    margin-top: -160vh;
}

.box3 img {
    width: 20vw;
    height: 120vh;
    object-fit: cover;
}

.box4{
    position: relative;
    width: 59vw;
    height: 38vh;
    margin-left: 21vw;
    margin-top: 2vh;
}

.box4 img {
    width: 59vw;
    height: 38vh;
    object-fit: cover;
}

.box5{
    position: relative;
    width: 38vw;
    height: 80vh;
    margin-left: 42vw;
    margin-top: -160vh;
}

.box5 img {
    width: 38vw;
    height: 80vh;
    object-fit: cover;
}

.box6{
    position: relative;
    width: 38vw;
    height: 38vh;
    margin-left: 42vw;
    margin-top: 2vh;
}

.box6 img {
    width: 38vw;
    height: 38vh;
    object-fit: cover;
}

.event {
    margin-top: 40px;
    padding-top: 40px;
    font-weight: lighter;
}

.event h2 {
    font-family: var(--title-font-family);
    color: var(--text-color);
    text-align: center;
    }

.event .location .maps p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
/* section event  */


/* .map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
 }
    
    .map-responsive iframe {
    left:0;
    top:0;
    height:40%;
    width:40%;
    position:absolute;
} */


.location .maps {
margin-top: 15vh;
margin-left: 10vw;
display: flex;
justify-content: space-around;
} 

.next-event {
    margin-top: 15vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    } 

.next-event img {
    display: flex 2;
        height: 40vh;
        width: 40vw;
        object-fit: cover;
    }

.next-event .expo p {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        padding: 2rem;
    }

.event p {
        font-family: var(--text-font-family);
        color: var(--text-color);
        }
=======
    --text-hover:#fd9d5c;  
    --title-font-family: 'Ultra', serif; 
    --text-font-family:'Fredoka', sans-serif;
}

body {
    margin: 0;
    padding:0;
    font-family:var(text-font-family);
}

/*NAV*/
nav{
    width:100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color); 
}

.logo{
    width:150px;
}

/*Menu*/
nav ul {
    list-style: none;
    font-size: 1.25rem;
    margin-right: 2rem;

}

nav ul li {
    display: inline-block;
    margin:1rem;
    cursor: pointer;
}

nav ul li a {
    padding: .25rem;
    text-decoration: none;
    color:var(--text-color);
    font-family: var(--text-font-family);
}

nav a:hover {
    background-color:var(--text-hover);
    color:var(--primary-color);
    font-weight:700;
  }

/*Media queries*/
  @media screen and (min-width: 375px) and (max-width= 800px){
    nav{
        flex-direction:column;
    }  
}



/*FOOTER*/
.foot-container{
    width:100%;
    height: 115px;
    background-color: var(--secondary-color);
    color:var(--text-color);
    font-family: var(--text-font-family);
    font-weight: 400;
}

p.centered-text{
    text-align:center;
}

p.centered-text a:hover{
    color:var(--text-hover);
    cursor:pointer;
}

.flex-footer-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

p.border{
    padding: 0.5rem 7rem 0.5rem 7rem;
    font-size: 1.2rem;
}

.copyrigth{
    border-top:1px solid var(--text-color);
    margin: 0.3rem 0rem 0.3rem 0rem;
    padding: 0.5rem;
}
 



